*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin:50px 0px;
    text-align: center;
}
section >p{
    width: 25%;
    position: relative;
    left:75%;
}
p#one{
    background-color: red;
}
#two{
    background-color: green;
}
p#three{
    background-color: greenyellow;
}
div{
    background-color: orange;
    height: 350px;
    margin-left: 2%;
    float: left;
}
.bd{
    border:1px solid black;
}
p{
    padding:5%;
}
/*---------Large device--------------*/
@media (min-width: 992px) {
    .lg
    {
        width:30%;
    }
}
/*--------Middle device--------------*/
@media (min-width: 768px) and (max-width: 991px) {
    .md1
    {
        widht:45%;
    }
    .md2
    {
        width: 90%;
    }
}
/*----------Small device --------------*/
@media (max-width: 767px){
    .sm
    {
        width:90%;
    }
}
